.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
  align-items: center;
  padding: 1em 0 2em 0;
}

.newsletter-heading {
  text-align: center;
  color: #4fdba6;
  margin: 1em 0 0 0;
}

.newsletter-form {
  grid-column: 1/2;
}

.newsletter-form input {
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  text-align: left;
}

.newsletter-para {
  grid-column: 2/3;
}

.newsletter-form label {
  color: #4fdba6;
}

.newsletter-form input {
  padding: 1em;
}

.newsletter-form button {
  padding: 1em;
  background-color: #4fdba6;
  color: #fff;
  border: none;
  font-family: "Marrieweather", serif;
}

.newsletter-logo {
  color: #4fdba6;
}

@media (max-width: 367px) {
  .newsletter {
    grid-template-columns: 1fr;
  }

  .newsletter-para {
    grid-column: 1/3;
  }
}
